/.MazeGameDescriptionLabelProvider.java._trace
/.MazeGameDescriptionLabelProvider.xtendbin
/.MazeGameLabelProvider.java._trace
/.MazeGameLabelProvider.xtendbin
/MazeGameDescriptionLabelProvider.java
/MazeGameLabelProvider.java
